#anchorDiv{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:30%;
    
}
#table{
    width:100%;
    text-align:center;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#table th {
    background-color: #009879;
    color: #ffffff;
    
}
#table th,td {
    padding: 12px 15px;
}
#table tr {
    border-bottom: 1px solid #dddddd;
}

#table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#table tr.active-row {
    font-weight: bold;
    color: #009879;
}
a {
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
    }
    a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    }